* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(255, 230, 227);
}

.heading {
	text-align: center;
	margin: 1rem;
}
.container {
	height: 100vh;
	max-width: 900px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.user-card {
	width: 300px;
	position: relative;
	background: rgb(249, 255, 199);
	box-shadow: rgba(0, 0, 0, 0.178) 1px 1px 5px;
	margin: 1rem;
	padding: 2rem;
}

h2,
h3,
p {
	margin-bottom: 1rem;
}

.delete {
	position: absolute;
	color: red;
	right: 5%;
	top: 5%;
	border: none;
	padding: 2px;
}
